body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-shadow: 2px 2px 4px #000000;
}



.img-responsive {
    display: inline-block;
    max-width: 100%;
    height: auto;


}

.profile {
    display: inline-block;
    padding: 25px;
    margin-bottom: 25px;

}

.profile p {
    display: inline-block;
}

.profile h3 {
    color:#1b5e20;
}



